@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');

*{
padding:0;
margin:0;
box-sizing:border-box;
}
.card{
	background-color:hsl(30, 38%, 92%);
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
}

.container {
	border-radius:10px;
	box-shadow:0 0 1px #000;
	display:flex;
	width: 600px;
	height:450px;
	background-color:#fff;
}
.card-image{
	min-width:50%;
	
	overflow:hidden;
}
.card-image img{
	border-radius:10px 0 0 10px;
	width:100%;
	height:100%;
	display:block;
	object-fit:cover;
	transition:transform 0.5s ease-in-out;
}.card-image img:hover{
	transform:scale(1.1);
}

.card-info{
	padding:30px 20px;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	gap:20px;
}
.top{
	/* line-height:1; */
	font-size:14px;
	font-weight:500;
	text-transform:uppercase;
	letter-spacing:1.8px;
	color:hsl(228, 12%, 48%);
	/* font-family: 'Poppins', sans-serif; */
	font-family: 'Raleway', sans-serif;
}
.card-info h2{
	line-height:35px;
	font-size:34px;
	font-weight:700;
	font-family: 'Fraunces', serif;
}
.card-info p{
	font-family: 'Poppins', sans-serif;
	color:hsl(228, 12%, 48%);
}
.card-info h3{
	font-family: 'Fraunces', serif;
	font-size:34px;
	color:hsl(158, 36%, 37%);
	font-weight:700;
}
.del-text{
	color:hsl(228, 12%, 48%);
	font-size:16px;
	text-decoration-line: line-through;
}
.card-btn a img{
	display:inline-block;
	margin-right:10px;
}.card-btn a{
	font-family: 'Poppins', sans-serif;
	font-size:18px;
	padding:10px 20px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	width:100%;
	color:#fff;
	background-color:hsl(158, 36%, 37%);
	border-radius:8px;
}.card-btn a:hover{
	cursor:pointer;
	background-color:#306954;
}